.chart{
    
    height: 350px;
    width: 600px;
}
.table{
    height: 330px;
    width: 500px;
}
.map{
    height: 600px;
    width: 1100px;
    margin: auto;
}
.area{
    height: 350px;
}
.red{
    color: gray;
}
.page{
    height: 330px;
}
body{
    background-color:#985c984d;
}
.task{
    display: flex;
    justify-content: center;
    }
    .hari{
        display: flex;
        justify-content: center;
        }
.task1,.task2,.task3{
    
    height: 480px; width: 650px;
    margin: 30px; padding: 10px;
    background-color: rgb(132, 49, 132);
}
.hari1,.hari2,.hari3{
    
    height: 480px; width: 650px;
    margin: 30px; padding: 10px;
    background-color: rgb(174, 130, 174);
}

h3{
    text-align: center;
    color: yellow;
    letter-spacing: 2px;
}
h1{
    text-align: center;
    color: white;
}
p{
    color: white;
}
h2{
    color: black;
}